@font-face {
    font-family: "Monocraft";
    src: url("/font/Monocraft.ttf");
}
#post-markdown {
    /* Default values, as tailwind overrides them */
    h1 {
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h3 {
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h4 {
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h5 {
        font-size: 0.83em;
        margin-top: 1.67em;
        margin-bottom: 1.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h6 {
        font-size: 0.67em;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    code {
        font-family: "Monocraft", monospace;
        display: block;
        background-color: rgba(var(--ctp-mantle), 1);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow-x: scroll;
    }

    hr {
        border-color: rgba(var(--ctp-surface1), 1);
    }
}
